@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #191a1c;
}




/* @media (min-width: 640px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 1024px) { ... }
@media (min-width: 1280px) { ... } */





/* sign */

/* side bare */
.sideBarBtn:hover {
  background-color: #020030;
}
.sideBarBtnActive {
  background-color: #020030;
}


html{
  scrollbar-width: thin;
  scrollbar-color: #9e1d1d #fcfcfc;
}


.scroll-up {
  position: fixed;
  font-size: 2rem;
  color: white;
  border: 3px solid white;
  width: 0.7rem;
  height: 0.7rem;
  bottom: 1rem;
  right: 1rem;
  z-index: 20;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem;  
  cursor: pointer;
  border-radius: 5px  ;
}
.scroll-up:hover {
  background-color: rgb(41, 41, 41);
}

.show-scroll {
  display: flex;
}



