@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */


/* @import url('https://fonts.googleapis.com/css?family=Noto Sans');
*{
  font-family: Nunito, sans-serif;
} */
body{
  background-color: #191a1c;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */



/* @media (min-width: 640px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 1024px) { ... }
@media (min-width: 1280px) { ... } */


/* Dashboard  */

/* Header */
@media screen and (min-width : 768px ) and (max-width : 1024px) {
  .personIcon{
    width: 20px;
    height: 20px;
  }
  .logoutIcon{
    width: 20px;
    height: 20px;
  }
}


/* sign */



/* side bare */
.sideBarBtn:hover {
  background-color: #020030;
}
.sideBarBtnActive {
  background-color: #020030;
}



html{
  scrollbar-width: thin;
  scrollbar-color: #0d0d0f #1f2127;
}


.scroll-up {
  position: fixed;
  font-size: 2rem;
  color: white;
  border: 3px solid white;
  width: 0.7rem;
  height: 0.7rem;
  bottom: 1rem;
  right: 1rem;
  z-index: 20;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem;  
  cursor: pointer;
  border-radius: 5px  ;
}
.scroll-up:hover {
  background-color: rgb(41, 41, 41);
}

.show-scroll {
  display: flex;
}