.signInForm{
    animation: opacityAnimation1 1s 0.2s ease-in-out forwards;
  }
@keyframes opacityAnimation1 {
    from {
      transform: translatex(25%);
      opacity: 0.2;
    }
    to {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      opacity: 1;
    }
  }
.signUpForm{
    animation: opacityAnimation2 1s 0.2s ease-in-out forwards;
  }
@keyframes opacityAnimation2 {
    from {
      transform: translatex(-25%);
      opacity: 0.2;
    }
    to {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      opacity: 1;
    }
}

.fadeIn{
    animation: fade 1.4s 0.2s ease-in-out forwards;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
